<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
<<<<<<< HEAD
		<title>{{ pageTitle }}</title>
		<script src="https://code.jquery.com/jquery.js"></script>
=======
		<title>Cook Veg</title>
<<<<<<< HEAD

		  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
=======
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/veg.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
>>>>>>> main
>>>>>>> 0b1c590055b93b8b81a117cc1e89282c5f1fa664

	</head>
	<body>
		{{{ body }}}
<<<<<<< HEAD

        <script src="/assets/js/veg.js"></script>
=======
<<<<<<< HEAD
		<script src="https://code.jquery.com/jquery.js"></script>
		 <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   
		<script src="/assets/js/veg.js"></script>

=======
>>>>>>> 0b1c590055b93b8b81a117cc1e89282c5f1fa664
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
>>>>>>> main
	</body>
</html>