<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />


  <title>{{ pageTitle }}</title>




</head>

<body>

  <div class="content">

    <nav>
      <div class="nav-wrapper #7cb342 light-green darken-1">
        <a href="#" class="brand-logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/recipes">Recipes</a></li>
          <li><a href="/facilities">Facilities</a></li>
          <li><a href="/api/shopping">Shopping List</a></li>
          <li><a href="https://nwveg.org/what-we-do">About</a></li>
          <li><a href="https://nwveg.org/">NWveg.org</a></li>
        </ul>
      </div>
    </nav>

    <div class="container center">
      <img class="home-logo" src="/assets/img/logo.png" alt="logo">
    </div>

    {{{ body }}}

  </div>

  <footer class="page-footer #7cb342 light-green darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact us:</h5>
          <p class="grey-text text-lighten-4">Portland, OR 503-746-8344</p>
          <p class="grey-text text-lighten-4">Info@nwveg.org</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Visit our other sites:</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://nwveg.org/">nwveg.org</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Site 2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright center">
      <div class="container">
        © 2021 Copyright Northwest Veg
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/assets/js/veg.js"></script>
  <script src="/assets/js/facility.js"></script>
  <script src="/assets/js/homepage.js"></script>
  <script src="/dist/index.js"></script>

</body>

</html>