<h1>Facility Form</h1>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="facility_name" type="text" class="validate">
        <label class="active" for="facility_name">Name</label>
      </div>
      <div class="input-field col s12">
        <input id="address" type="text" class="validate">
        <label class="active" for="address">Address</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
       <input id="city" type="text" class="validate">
        <label class="active" for="city">City</label>
      </div>
      <div class="input-field col s4">
        <input id="state" type="text" class="validate">
        <label class="active" for="state">State</label>
      </div>
      <div class="input-field col s4">
        <input id="postalcode" type="text" class="validate">
        <label class="active" for="postalcode">Postal Code</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label class="active" for="email">Email</label>
         <span class="helper-text" data-error="Please enter a valid email"></span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="description" type="text" class="validate">
        <label class="active" for="description">Description</label>
      </div>
    </div>

    <a class="waves-effect waves-light btn-small" id="submitbtn">Submit</a>
  </form>
</div>