<div class="container">
    <div class="row">

        <div class="padding center col l6">
            <div class="card">
                <div class="card-image">
                    <img src="https://images.immediate.co.uk/production/volatile/sites/2/2016/08/25099.jpg?quality=90&resize=600%2C400"
                        alt="veggie recipies image">
                    <span class="card-title">Recipes</span>
                </div>
                <div class="row"> </div>
                <div class="row">
                </div>
                <div class="card-content">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et obcaecati accusamus
                        inventore enim temporibus sequi sunt, quae sint autem id deleniti hic ipsa atque magni.
                        Magnam molestiae
                        quibusdam libero itaque.</p>
                </div>

                <div class="card-action">
                    <a href="#" class="btn #1b5e20 green darken-4" id="recipebtn">Get info</a>
                </div>

            </div>
        </div>

        <div class="padding center col l6">
            <div class="card">
                <div class="card-image">
                    <img src="https://www.mynevadacounty.com/ImageRepository/Document?documentID=19833"
                        alt="facilities image">
                    <span class="card-title">Facilities</span>
                </div>
                <div class="row"> </div>
                <div class="row">
                </div>
                <div class="card-content">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et obcaecati accusamus
                        inventore enim temporibus sequi sunt, quae sint autem id deleniti hic ipsa atque magni.
                        Magnam molestiae
                        quibusdam libero itaque.</p>
                </div>

                <div class="card-action">
                    <a href="#" class="btn #1b5e20 green darken-4" id="facilitybtn">Get info</a>
                </div>

            </div>
        </div>

        {{!-- <div class="center col l5">
            <div class="row"><img class="home-image"
                    src="https://media.npr.org/assets/img/2015/05/29/eric_wide-d71890c968cf6ca5797914f01b564618a53cc062.jpg?s=1400"
                    alt="facilities image"></div>
            <div class="row">
                <h4>Facilities</h4>
            </div>
            <div class="row textbox">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et obcaecati accusamus
                inventore enim temporibus sequi sunt, quae sint autem id deleniti hic ipsa atque magni. Magnam molestiae
                quibusdam libero itaque.</div>
            <div class="row"><button class="btn #1b5e20 green darken-4" id="facilitybtn">Get info</button></div>
        </div> --}}
    </div>
</div>
</div>