<header>
    <div class="row container">
        <div class="col l4 center"></div>
        <div class="col l4 center">
            <div class="col l4 center"></div>
            <input type="text" id="search" class="search" placeholder="Search for recipes..." />
        </div>

    </div>
</header>

<section class="container center">
    <main class="userSearchRecipe" id="main">
        <div class="recipe">
            <img class="home-image"
                src="https://post.healthline.com/wp-content/uploads/2020/08/reasons-to-eat-real-food-1200x628-facebook-1200x628.jpg"
                alt="fruits and veggies" />
            <div class="recipe-info">
                <h3>Breakfast</h3>
                <span class="veggie">VEGAN</span>
            </div>
            <div class="overview">
                <h3>Breakfast</h3>
                Find breakfast recipes that are vegitarian, vegan and/or gluten free. Recipes can be for one or a large
                group.
                <br><button class="waves-effect #7cb342 light-green darken-1 btn breakfast">Get
                    recipes</button>
            </div>
        </div>

        <div class="recipe">
            <img class="home-image"
                src="https://post.healthline.com/wp-content/uploads/2020/08/reasons-to-eat-real-food-1200x628-facebook-1200x628.jpg"
                alt="fruits and veggies" />
            <div class="recipe-info">
                <h3>Lunch and Dinner</h3>
                <span class="veggie">VEGAN</span>
            </div>
            <div class="overview">
                <h3>Lunch and Dinner</h3>
                Lunch and dinner entree recipes that are ANitarian, ANan and/or gluten free. Recipes can be for one or
                a large group.
                <br><button class="waves-effect #7cb342 light-green darken-1 btn lunchdin">Get
                    recipes</button>
            </div>
        </div>

        <div class="recipe">
            <img class="home-image"
                src="https://post.healthline.com/wp-content/uploads/2020/08/reasons-to-eat-real-food-1200x628-facebook-1200x628.jpg"
                alt="fruits and veggies" />
            <div class="recipe-info">
                <h3>Snacks and Sides</h3>
                <span class="veggie">VEGAN</span>
            </div>
            <div class="overview">
                <h3>Snacks and Sides</h3>
                Snacks and sides recipes that are vegitarian, vegan and/or gluten free. Recipes can be for one or a
                large group.
                <br><button class="waves-effect #7cb342 light-green darken-1 btn snacks">Get
                    recipes</button>
            </div>
        </div>

        <div class="recipe">
            <img class="home-image"
                src="https://post.healthline.com/wp-content/uploads/2020/08/reasons-to-eat-real-food-1200x628-facebook-1200x628.jpg"
                alt="fruits and veggies" />
            <div class="recipe-info">
                <h3>Dessert</h3>
                <span class="veggie">VEGAN</span>
            </div>
            <div class="overview">
                <h3>Dessert</h3>
                Dessert recipes that are vegitarian, vegan and/or gluten free. Recipes can be for one or a large group.
                <br><button class="waves-effect #7cb342 light-green darken-1 btn desserts">Get
                    recipes</button>
            </div>
        </div>

        <div class="recipe">
            <img class="home-image"
                src="https://post.healthline.com/wp-content/uploads/2020/08/reasons-to-eat-real-food-1200x628-facebook-1200x628.jpg"
                alt="fruits and veggies" />
            <div class="recipe-info">
                <h3>Gluten-Free</h3>
                <span class="gluten-free">GF</span>
            </div>
            <div class="overview">
                <h3>Gluten-Free</h3>
                Lunch and dinner entree recipes that are vegitarian, vegan and/or gluten free. Recipes can be for one or
                a large group.
                <br><button class="waves-effect #7cb342 light-green darken-1 btn gf">Get
                    recipes</button>
            </div>
        </div>

        <div class="recipe">
            <img class="home-image"
                src="https://post.healthline.com/wp-content/uploads/2020/08/reasons-to-eat-real-food-1200x628-facebook-1200x628.jpg"
                alt="fruits and veggies" />
            <div class="recipe-info">
                <h3>Allergen-Free</h3>
                <span class="gluten-free">GF</span>
            </div>
            <div class="overview">
                <h3>Allergen-Free</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut animi
                quis voluptates odio asperiores cum unde dolorem iste reiciendis
                veniam.
                <br><button class="waves-effect #7cb342 light-green darken-1 btn allergen">Get
                    recipes</button>
            </div>
        </div>

    </main>
</section>