<section class="container center" id="form-container">
    <h1 class="h1reg center">Recipes</h1>
    <div class="container-recipe">
      
        <div class="row">
            <div class="col s12">
                <main id="main">
                    <div class="recipe">
                        <section>
                            <img class="home-image" src={{recipe.image}} alt="recipe image" />
                            <div class="recipe-info">
                                <h3 style="font-size:20px">{{recipe.label}}</h3>
                                <span class="veggie">VEG</span>
                            </div>
                            <div class="overview">
                                <a href={{recipe.url}}>Click here for the Recipe!</a>
                            </div>
                        </section>
                    </div>
                </main>
            </div>
        </div>
      
    </div>
</section>