<h1>Recipes</h1>
<section class="col-lg-3">
    <main id="main" class="row">
        <div class="col s3 recipe">{{#each result}}<div>
                <div class="row">
                    <img class="home-image" src={{recipe.image}} alt="fruits and veggies" />
                    <div class="recipe-info">
                        <h3 style="font-size:20px">{{recipe.label}}</h3>
                        <span class="veggie">VEG</span>
                    </div>
                    <div class="overview">
                        <a href={{recipe.url}}>Click here for the Recipe!</a>
                    </div>
                </div>
            </div>{{/each}}</div>
    </main>
</section>