@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(
    65deg,
    rgba(125, 191, 48, 0.8) 50%,
    #ffffff 50%
  );
  min-height: 1000px;
  font-family: "helvetica neue";
}

.logo {
    height: 50px;
    width: auto;
}

h1 {
  color: #fff;
  padding: 10px;
  font-family: "Lobster";
}

.box {
  max-width: 400px;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

img {
  object-fit: cover;
  width: 230px;
  height: 230px;
  margin-top: 15px;
}

.textbox {
    padding: 15px;
}

#heading {
  background-color: rgba(125, 191, 48);
  text-align: center;
  margin: 50px auto;
}

footer {   
    margin-top: 150px;
}
