@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;400&display=swap");

:root {
  --primary-color: rgba(125, 191, 48);
  --secondary-color: rgba(3, 106, 55);
  --third-color: rgba(231, 85, 37);
}

* {
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(
    65deg,
    rgba(125, 191, 48, 0.8) 50%,
    #ffffff 50%
  );
  min-height: 1000px;
  font-family: "Poppins";
}

h1 {
  color: #fff;
  padding: 10px;
  font-family: "Lobster";
}

.card-title {
  font-family: "Poppins" !important;
  font-size: 2rem !important;
  background-color: rgb(0,0,0,.5);
}

.box {
  max-width: 400px;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.home-logo {
  max-width: 300px;
  max-height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.home-image {
  object-fit: cover;
  width: 230px;
  height: 230px;
  margin-top: 15px;
}

.textbox {
  padding: 15px;
}

#heading {
  background-color: rgba(125, 191, 48);
  text-align: center;
  margin: 50px auto;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: var(--secondary-color);
}

.search::placeholder {
  color: var(--secondary-color);
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
}

.recipe {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.recipe img {
  width: 100%;
}

.recipe-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.recipe-info h3 {
  margin-top: 0;
}

.recipe-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.recipe-info span.veggie {
  background-color: lightgreen;
}

.recipe-info span.vegan {
  background-color: darkgreen;
}

.recipe-info span.gluten-free {
  background-color: yellowgreen;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.recipe:hover .overview {
  transform: translateY(0);
}

.container-recipe {
  display: flex;
  flex-wrap: wrap;
}

#form-container {
  background: rgba(255, 255, 255, 0.9);
  color: var(--secondary-color);
  padding: 0 2% 2% 2%;
  border-radius: 3px;
}

#facility_name,
#address,
#city,
#state,
#postalcode,
#email,
#description,
.h1reg {
  color: var(--primary-color);
}

.facilcard {
  background-color: var(--secondary-color);
}

.card-content {
  text-align: center;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
